html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
div.mid{
	position: fixed;
    border-radius: 10px;
    height: 40%;
    top: 30%;
    bottom: 30%;
    left: 40%;
    right: 40%;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	
	padding-top: 25px;
    padding-right: 25x;
    padding-bottom: 25px;
    padding-left: 25px;
    
	z-index: 2;
}